/* About Me Section Styles */

.about-me{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.about-me img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about-me h3{
    margin-top: 10px;
    text-align: center;
}

.about-me h5{
    text-align: center;
}

.about-me p{
    text-align: center;
    
}

/* Experience section styles */

.experience-box{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.company-time p{
    float: right;
}